.search-bar-container {
  position: relative;
}

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
}

.search-bar input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  outline: none;
  width: 200px;
  transition: width 0.3s ease;
}

.search-bar input:focus {
  width: 300px;
}

.search-bar button {
  padding: 10px;
  border: 1px solid #ddd;
  border-left: none;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #f8f9fa;
}

.search-icon {
  font-size: 12px; /* Adjust the size to match other icons */
}

.clear-search {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 10px;
  margin-left: -10px;
}

.suggestions-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.suggestion-item:hover {
  background-color: #f8f9fa;
}
